<div class="modal fade" id="instructionsModal" tabindex="-1" aria-labelledby="instructionsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="instructionsModalLabel">Instructions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="fw-light text-warning">NB: Timezone is Nigeria's timezone (WAT)</p>
        <ul class="list-group">
          <ul class="list-group">
            <li class="list-group-item fst-italic fw-bold"><i class="bi bi-info-circle-fill me-2 text-warning"></i>NB: When choosing multiple numbers, there must be a comma but no space between the numbers. *API Settings*</li>
            <li class="list-group-item"><i class="bi bi-calendar-check-fill me-2 nav-edit"></i>Select the date.</li>
            <li class="list-group-item"><i class="bi bi-info-circle-fill me-2"></i>Please fill in all the fields.</li>
            <li class="list-group-item"><i class="bi bi-hourglass-split me-2 nav-edit"></i>Set the interval for your message.</li>
            <li class="list-group-item"><i class="bi bi-clock-fill me-2"></i>Select the run count. This is the number of times you want the message to be sent.</li>
            <li class="list-group-item"><i class="bi bi-envelope-fill me-2 nav-edit"></i>If you want to add your email to also receive SMS alerts and email when scheduling starts, please provide it in the designated field.</li>
            <li class="list-group-item"><i class="bi bi-person-fill me-2"></i>Click on the sender ID. They are autofill preset numbers. You can edit them on your own if you want.</li>
            <li class="list-group-item"><i class="bi bi-check-circle-fill me-2 nav-edit"></i>Click 'Schedule SMS' to schedule your message.</li>
            <li class="list-group-item"><i class="bi bi-trash-fill me-2"></i>If you want to delete a scheduled message, you can do so from the scheduled messages list.</li>
          </ul>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>