<footer class="footer mt-3 py-3 text-center">
  <div class="container">
    <span class="float-right">
      &copy; <span id="year"></span> Developed by <a href="mailto:hassanhauda@gmail.com" class="link-primary text-decoration-none">Hassan Umar</a>. All rights reserved.
      <a href="https://github.com/NabsCodes" target="_blank">
        <i class="bi bi-github link-primary"></i>
      </a>
    </span>
  </div>
</footer>