<footer class="footer mt-auto py-3 text-body-secondary text-center">
	<div class="container">
		<div class="d-flex justify-content-center align-items-center">
			<p class="mb-0 text-primary">&copy; <span id="year"></span> MKEL Networks Limited. All rights reserved.</p>
			<a class="ms-3" href="https://github.com/NabsCodes" target="_blank">
				<i class="bi bi-github link-primary"></i>
			</a>
		</div>
	</div>
</footer>
<script src="/js/updateYear.js"></script>
<!-- Developed by <a href="mailto:hassanhauda@gmail.com" class="link-primary text-decoration-none">Hassan Umar</a> -->
