<nav class="navbar navbar-expand-md p-3 bg-primary-subtle mb-3">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/images/New MKEL Blue.png" alt="Mkel logo" width="45" height="29" class="me-2" />
      <span class="fw-light fs-4">SMS Scheduler <i class="bi bi-send-check nav-edit"></i></span>
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if (!user && isHomepage) {  %>
        <!-- When user is logged in and on the homepage -->
        <li class="nav-item">
          <button type="button" class="nav-link logout-btn ms-0 ms-md-3" data-bs-toggle="modal" data-bs-target="#logoutModal">
            Logout
          </button>
        </li>
        <% } else if (!user) { %>
        <!-- When user is logged in but not on the homepage -->
        <li class="nav-item">
          <a class="nav-link custom-nav ms-0 ms-md-3 <%= typeof activePage !== 'undefined' && activePage === 'MontyMobile' ? 'custom-active' : '' %>" href="/monty">MontyMobile</a>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link logout-btn ms-0 ms-md-3" data-bs-toggle="modal" data-bs-target="#logoutModal">
            Logout
          </button>
        </li>
        <% } %>
        <li class="nav-item ms-0 ms-md-3">
          <!-- Theme partial -->
          <%- include('../partials/theme.ejs') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--  Logout Modal -->
<%- include('../modals/logoutModal.ejs') %>