<% if(messages.deleteSuccess && messages.deleteSuccess.length) {%>
<div class="alert alert-success alert-dismissible fade show flashAlert mt-sm-2" role="alert">
  <%= messages.deleteSuccess %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<!--  -->
<% if(messages.deleteError && messages.deleteError.length) {%>
<div class="alert alert-danger alert-dismissible fade show flashAlert mt-sm-2" role="alert">
  <%= messages.deleteError %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>