# Ignore node_modules directory
node_modules

# Ignore dist directory
dist/

# Ignore .env file
.env

# Ignore .DS_Store file
.DS_Store

# Ignore coverage directory
coverage/

# Ignore .vscode directory
.vscode/