<% layout('layouts/boilerplate') %>
<div class="d-flex min-vh-100 justify-content-center">
  <div class="row align-self-start">
    <div class="text-center">
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">404 Not Found</h4>
        <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
        <a href="/" class="btn btn-primary w-100">Go to Home Page</a>
      </div>
    </div>
  </div>
</div>