<% layout('layouts/boilerplate') %>
<div class="d-flex min-vh-100 justify-content-center">
  <div class="row align-self-start">
    <div class="text-center">
      <div class="alert alert-warning" role="alert">
        <h1>Site unavailable</h1>
        <p>Currently Making Changes to the site please be patient as updates roll in!</p>
      </div>
    </div>
  </div>
</div>